.p-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
}

.p-header {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: "Google Sans", "Roboto", "Arial", sans-serif;
}

.p-head-wrapper {
    width: 89%;
    margin-bottom: 20px;
}

.p-lefth {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "Google Sans", "Roboto", "Arial", sans-serif;
    color: #3c3f42;
}

.p-righth {
    font-family: "Google Sans", "Roboto", "Arial", sans-serif;
    font-size: 25px;
    border: 1px solid #3665d1;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    background: #3665d1;
    color: white;
    cursor: pointer;
}

.p-wrapper {
    /* border: 1px solid red; */
    background: #f5f3f0;
    width: 90%;
    /* max-height: 450px; */
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.p-left-container {
    margin-left: 70px;
    padding: 5px;
    flex: 1;
    min-width: 300px;
}

.p-right-container {
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: 1; */
    min-width: 300px;
}

.p-right-wrapper {
    /* border: 1px solid red; */
    position: relative;
    width: 600px;
    height: 450px;

}

.p-right-wrapper img {
    /* border: 1px solid red; */
    /* max-width: 850px; */
}

.p-image {
    /* border: 1px solid red; */
    width: 100%;
    /* max-width: 400px; */
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s linear;
    /* position: fixed; */
}

.p-image.slide-right {
    transform: translateX(2%);
}

.p-image.slide-left {
    transform: translateX(-2%);
}

.p-slide-navigation {
    /* border: 1px solid red; */
    background-color: white;
    border-radius: 18px;
    padding: 5px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.p-arrow {
    color: #626466;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.p-arrow:hover {
    background-color: #eae6e6;
}

.p-image-counter {
    font-size: 16px;
    font-weight: bold;
    color: #3c3f42;
    font-family: "Google Sans", "Roboto", "Arial", sans-serif;
}

.p-header1 {
    font-size: 55px;
    font-weight: 700;
    font-family: "Google Sans", "Roboto", "Arial", sans-serif;
    color: #3c3f42;
    margin-top: 40px;
}

.p-header2 {
    font-size: 16px;
    font-weight: 500;
    font-family: "Google Sans", "Roboto", "Arial", sans-serif;
    color: #3c3f42;
    margin-top: 17px;
}

.p-button {
    border: 1px solid #3665d1;
    width: fit-content;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: "Google Sans", "Roboto", "Arial", sans-serif;
    color: white;
    background: #3665d1;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.p-colors {
    display: flex;
    gap: 15px;
    margin-top: 40px;
}

.p-color-outer {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid transparent;
    background-color: white;
    cursor: pointer;
}

.p-color-outer.active {
    border: 2px solid #3c3f42;
}

.p-color-inner {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #626466;
}

.p-color-text {
    margin-top: 10px;
    font-size: 15px;
    font-family: "Google Sans", "Roboto", "Arial", sans-serif;
    font-weight: 400;
    width: fit-content;
}



@media (max-width: 1100px) {
    .p-left-container {
        /* border: 1px solid red; */
        order: 1;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding: 10px; */
        margin-left: 0;
    }

    /* Ensure the image is at the top */
    .p-right-container {
        /* border: 1px solid red; */
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .p-right-wrapper img {
        max-width: 100%;
        height: auto;
    }

    /* Place .p-colors below the image */
    .p-colors {
        order: 2;
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-bottom: 10px;
    }

    /* Place .p-color-text below .p-colors */
    .p-color-text {
        order: 3;
        text-align: center;
        margin-bottom: 20px;
    }

    /* Place .p-header1 in the 4th position and center it */
    .p-header1 {
        order: 4;
        font-size: 40px;
        /* Reduce font size for smaller screens */
        text-align: center;
        margin-bottom: 10px;
    }



    /* Place .p-header2 in the 5th position and center it */
    .p-header2 {
        order: 5;
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
    }

    /* Place the .p-button in the 6th position and center it */
    .p-button {
        order: 6;
        margin-bottom: 20px;
        text-align: center;
        width: auto;
        /* Let the button size adjust naturally */
    }

    .p-righth {
        display: none;
    }

    .p-slide-navigation {
        position: absolute;
        bottom: 1px;
        right: 50px;
    }


    .p-image {
        max-width: 350px;
    }
}



@media (max-width: 768px) {
    .p-left-container {
        /* border: 1px solid red; */
        order: 1;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding: 10px; */
        margin-left: 0;
    }

    /* Ensure the image is at the top */
    .p-right-container {
        /* border: 1px solid red; */
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .p-right-wrapper img {
        max-width: 100%;
        height: auto;
    }

    /* Place .p-colors below the image */
    .p-colors {
        order: 2;
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-bottom: 10px;
    }

    /* Place .p-color-text below .p-colors */
    .p-color-text {
        order: 3;
        text-align: center;
        margin-bottom: 20px;
    }

    /* Place .p-header1 in the 4th position and center it */
    .p-header1 {
        order: 4;
        font-size: 40px;
        /* Reduce font size for smaller screens */
        text-align: center;
        margin-bottom: 10px;
    }



    /* Place .p-header2 in the 5th position and center it */
    .p-header2 {
        order: 5;
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
    }

    /* Place the .p-button in the 6th position and center it */
    .p-button {
        order: 6;
        margin-bottom: 20px;
        text-align: center;
        width: auto;
        /* Let the button size adjust naturally */
    }

    .p-righth {
        display: none;
    }

    .p-slide-navigation {
        position: absolute;
        bottom: 8px;
    }


    .p-image {
        max-width: 350px;
    }
}

@media (max-width: 660px) {

    .p-wrapper {
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* max-height: 750px; */
    }
    
    .p-left-container {
        /* border: 1px solid red; */
        order: 1;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        /* margin-bottom: 100px; */
    }

    .p-right-container {
        /* border: 1px solid red; */
        width: fit-content;
        position: relative;
        display: flex;
    }

    .p-right-wrapper {
        /* border: 1px solid red; */
        width: 100%;
        max-height: 350px;
    }

    .p-image {
        /* border: 1px solid red; */
        max-width: 100%;
        max-height: 100%;
    }

    .p-slide-navigation {
        position: absolute;
        bottom: 15;
        right: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px;
    }

    .p-colors {
        /* border: 1px solid red; */
        order: 2;
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-bottom: 10px;
    }


    .p-color-text {
        order: 3;
        text-align: center;
        margin-bottom: 20px;
    }

   
    .p-header1 {
        order: 4;
        font-size: 40px;
        text-align: center;
        margin-bottom: 10px;
    }
 
    .p-header2 {
        order: 5;
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
    }

   
    .p-button {
        order: 6;
        margin-bottom: 20px;
        text-align: center;
        width: auto;
    }

    .p-righth {
        display: none;
    }

}


@media (max-width: 500px) {

    .p-wrapper {
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .p-left-container {
        /* border: 1px solid red; */
        order: 1;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .p-right-container {
        /* border: 1px solid red; */
        width: fit-content;
        position: relative;
        display: flex;
    }

    .p-right-wrapper {
        /* border: 1px solid red; */
        max-width: 300px;
        max-height: 237px;
    }

    .p-image {
        /* border: 1px solid red; */
        max-width: 100%;
        max-height: 100%;
    }

    .p-slide-navigation {
        position: absolute;
        bottom: 15;
        right: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px;
    }

    .p-colors {
        order: 2;
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-bottom: 10px;
    }


    .p-color-text {
        order: 3;
        text-align: center;
        margin-bottom: 20px;
    }

   
    .p-header1 {
        order: 4;
        font-size: 40px;
        text-align: center;
        margin-bottom: 10px;
    }
 
    .p-header2 {
        order: 5;
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
    }

   
    .p-button {
        order: 6;
        margin-bottom: 20px;
        text-align: center;
        width: auto;
    }

    .p-righth {
        display: none;
    }

}